/* Roboto 400, 500, 700, 900 latin-cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover, .link:focus {
  color: #2196F3;
}

.is-hidden {
  display: none;
}

.logo-w {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-s {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

.menu-btn {
  border: 0;
  background-color: #ffffff;
  padding: 0;
}

.menu-btn:hover,
.menu-btn:focus .menu-open {
  fill: #2196F3;
}

.menu-btn:focus {
  border: 0;
}

.menu-open {
  width: 40px;
  height: 40px;
  border: none;
}

.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 32px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.header {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backdrop-menu {
  width: 100%;
  height: 453px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.menu-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 52px;
}

.menu-list-item:nth-child(3) {
  margin-bottom: 60px;
}

.mail-svg {
  width: 16px;
  height: 18px;
  margin-right: 10px;
  fill: #757575;
}

.tel-svg {
  width: 16px;
  height: 18px;
  margin-right: 10px;
  fill: #757575;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-link {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.contacts-list-item:hover .mail-svg {
  fill: #2196F3;
}

.contacts-list-item:hover .tel-svg {
  fill: #2196F3;
}

.contacts-list-item:nth-child(1) {
  margin-bottom: 16px;
}

.backdrop-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
}

.back-menu-nav {
  border-bottom: 1px solid #ECECEC;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/mobile/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/mobile/hero-mobile_2x.jpg");
  }
}

@media (min-width: 768px) {
  .overlay {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/tablet/hero-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/tablet/hero-tablet_2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/desktop/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/desktop/hero_2x.jpg");
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advant-list {
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .advant-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advant-list-item {
  width: 100%;
}

@media (min-width: 768px) {
  .advant-list-item {
    width: calc((100% - 30px) / 2);
  }
}

.advant-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.advant-list-item:nth-child(2n+1) {
  margin-right: 30px;
}

.advant-list-item:before {
  display: inline-flex;
  width: 100%;
  height: 120px;
  content: "";
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/icons/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icons/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icons/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}

.advant-caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advant-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */