.logo-w {
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-s {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #212121;
}