html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    margin-top: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-size(mobile) {
        width: 480px;
    }

    @include for-size(tablet) {
        width: 768px;
    }

    @include for-size(desktop) {
        width: 1200px;
        padding-left: 215px;
        padding-right: 215px;
    }
}


.link {
    text-decoration: none;
    color: inherit;

&:hover,
&:focus {
    color: #2196F3;
    ;
}
}

.list {
    padding-left: 0;
    padding-right: 0;
}

.is-hidden {
    display: none;
}