.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advant-list {
    width: 100%;
    padding: 0;

    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;
        width: calc((100%-30px)/2);
    }
}

.advant-list-item {
    width: 100%;

    @include for-size(tablet) {
        width: calc((100%-30px)/2);
    }

&:not(:last-child) {
    margin-bottom: 30px;
}

&:before {
    display: block;
    height: 120px;
    content: "";
    border-radius: 4px;
    background-color: #757575;
    background-repeat: no-repeat;
    background-position: center;
}
}  

.icon-antenna {
    background-image: url("../images/icons/antenna.svg");
}


.icon-clock {
    background-image: url("../images/icons/clock.svg");
}

.icon-diagram {
    background-image: url("../images/icons/diagram.svg");
}


.icon-astronaut {
    background-image: url("../images/icons/astronaut.svg");
}




.advant-caption {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.advant-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}