.header {
  position: relative;
  width: 100%;
}

.menu-btn {
  display: block;
  border: none;
  background: transparent;

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(desktop) {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.menu-container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  text-align: center;
}
